<!DOCTYPE html>
<html>
    <head>
        <!-- Title -->
        <title>BBB | No Priv</title>

        <!-- Import CSS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
        <div class="container center">
            <h3 class="header">You currently have no privileges.</h3>
            <br>
            <h4 class="header">If you think this was a mistake and want to get your privileges back, contact Bernie.</h4>
        </div>
    </body>
</html>